<h1>{{title }}</h1>
<p>Welcome to {{title }}</p>

<div class="chat-box-c">
  <div class="chat-box"></div>

  <input type="text" class="user-input" placeholder="type here..." autofocus='true'>
</div>