<div class="title-c">
  <h1>{{title }}</h1>
  <p class="welcome-text">Welcome to {{title }}</p>
</div>

<div class="chat-box-c">
  <div class="chat-box"></div>

  <input type="text" class="user-input" placeholder="type here..." autofocus='true'>
</div>

<div class="user-list-c">
  <ul class="user-list"></ul>
</div>