<div class="title-c">
  <h1>{{title }}</h1>
  <p class="welcome-text">Welcome to {{title }}</p>
</div>

<div class="nickname-c">
  <label for='user-nickname' class="nickname-prompt">Enter your nickname to continue...</p>
  <input type="text" class="user-nickname" id="user-nickname" placeholder="your nickname" autofocus='true'>
</div>

<div class="chat-box-c">
  <div class="chat-box"></div>

  <input type="text" class="user-input" placeholder="type here..." disabled>
</div>

<div class="user-list-c">
  <ul class="user-list"></ul>
</div>