.chat-box-c {
  font-size: 16px;
  display: inline-block;
  float: left;

  .chat-box {
    width: 504px;
    height: 300px;
    border: 1px dotted dodgerblue;

    .msg {
      padding: 0.3em 0;
      text-indent: 1em;
      line-height: 1em;
      font-family: sans-serif;
      font-weight: 800;
      background-color: #9A9898;

      &.self-msg {
        background-color: #ADD8E6;
      }
    }
  }

  .user-input {
    width: 500px;
  }
}