.chat-box-c {
  font-size: 16px;
  display: inline-block;

  .chat-box {
    width: 704px;
    height: 500px;
    border: 5px dotted rgb(30,144,255);
    overflow: scroll;
    text-align: left;
    border-radius: 20px;

    .msg {
      padding: 0.3em 0;
      text-indent: 1em;
      line-height: 1em;
      font-family: sans-serif;
      font-weight: 800;

      &.self-msg {
        background-color: rgb(25,20,102);
        color: white;

        &.private {
          background-color: rgb(145,11,129);
        }
      }

      &.client-msg {
        background-color: rgb(10,184,24);

        &.private {
          background-color: rgb(227,147,252);
          cursor: pointer;
        }
      }

      &.announcement {
        background-color: rgb(95,158,160);
        font-style: italic;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  .user-input {
    margin-top: 8px;
    width: 700px;

    &.private-chat {
      background-color: rgb(255,0,255);
    }
  }
}