.chat-box-c {
  font-size: 16px;
  display: inline-block;
  float: left;

  .chat-box {
    width: 504px;
    height: 300px;
    border: 1px dotted dodgerblue;
    overflow: scroll;

    .msg {
      padding: 0.3em 0;
      text-indent: 1em;
      line-height: 1em;
      font-family: sans-serif;
      font-weight: 800;

      &.self-msg {
        background-color: rgb(25,20,102);
        color: white;
      }

      &.client-msg {
        background-color: rgb(10,184,24);
      }

      &.announcement {
        background-color: rgb(95,158,160);
        font-style: italic;
        font-size: 14px;
      }
    }
  }

  .user-input {
    width: 500px;
  }
}