.nickname-c {
  margin: 10px 0px;

  .nickname-prompt {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
  }

  .user-nickname {
    margin-top: 3px;
    border: 1px solid grey;
    padding: 2px 5px;
  }
}