.user-list-c {
  display: inline-block;
  position: relative;
  bottom: 17px;
  left: 10px;
  height: 510px;
  width: 100px;
  border: 1px solid rgb(149, 190, 232);
  overflow: scroll;
  border-radius: 20px;
  background-color: rgb(194,253,194);

  .user-list {
    text-align: left;
    list-style-position: inside;
    padding: 10px;

    .tag-self {
      list-style-type: circle;
      font-weight: bold;
    }

    li {
      margin: 5px 0px;
      padding: 5px;
      &:not(.tag-self) {
        cursor: pointer;
      }
    }

    li:first-child {
      margin: 0px 0px;
    }

    .typing {
      color: red;
    }

    .chat-selected {
      background-color: rgb(255,0,255);
      border-radius: 50px;
    }
  }
}