.user-list-c {
  display: inline-block;
  float: left;
  height: 300px;
  width: 100px;
  border: 1px solid black;
  overflow: scorll;

  .user-list {
    list-style-position: inside;
    padding: 10px;
  }
}