.user-list-c {
  display: inline-block;
  position: relative;
  bottom: 13px;
  height: 500px;
  width: 100px;
  border: 1px solid black;
  overflow: scroll;

  .user-list {
    text-align: left;
    list-style-position: inside;
    padding: 10px;

    .tag-self {
      list-style-type: circle;
      font-weight: bold;
    }

    li {
      margin: 5px 0px;
      padding: 5px;
      cursor: pointer;
    }

    li:first-child {
      margin: 0px 0px;
    }

    .typing {
      color: red;
    }

    .chat-selected {
      background-color: rgb(255,0,255);
      border-radius: 50px;
    }
  }
}